.carddash{
    -fx-background-color:white;
    -fx-background-radius:10;
    -fx-border-radius:14;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0.3, 4, 4);
}

.cardlist{
    -fx-background-color:white;
    -fx-background-radius:10;
    -fx-border-radius:10;
    -fx-border-size:2;
    -fx-border-color:rgb(166,154,154,43);
}

.container{
    -fx-background-color:white;
    -fx-background-radius:10;
    -fx-border-radius:10;
    -fx-border-size:2;
    -fx-border-color:A89C9C;
}

.dash-card1{
    -fx-background-color:white;
    -fx-background-radius:10;
    -fx-border-size:0.5;
    -fx-border-color:rgb(166,154,154,43);
    -fx-border-radius:10;
}


.box-action{
    -fx-background-color:E4E4E4;
    -fx-background-radius:10;
}

.box-container-logo-param{
    -fx-background-color:E4E4E4;
    -fx-background-radius:14;
}

.image-box {
    -fx-background-image: url('../images/facscience.jpg');
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-radius: 20px;   /* Coins arrondis pour le fond */
    -fx-border-radius: 20px;       /* Coins arrondis pour la bordure si tu en as */
    -fx-padding: 10px;
    -fx-border-size:0.5;
    -fx-border-color:rgb(166,154,154,43);
}

.stageConfig{
    -fx-background-radius:14;
    -fx-background-color:transparent;
}

.bg-login-register{
    -fx-background-image:url('../images/facscience.jpg');
    -fx-background-size:cover;
}

.glass-box {
    -fx-background-color: rgba(255, 255, 255, 0.2); /* blanc translucide */
    -fx-background-radius: 14;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 10, 0.2, 0, 0);
}

.glass-box2 {
    -fx-background-color: rgba(255, 255, 255, 0.6); /* blanc translucide */
    -fx-background-radius: 14;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 10, 0.2, 0, 0);
}

.logo-config{
    -fx-background-image:url('../images/logo.png');
    -fx-background-radius:14;
    -fx-background-size:cover;
}

.input{
    -fx-background-color:rgb(217,217,217,29);
    -fx-background-radius:14;
}

.input-search{
    -fx-background-color:white;
    -fx-background-radius:10;
}

.image-profile {
    -fx-background-image:url('../images/profile.png');
    -fx-background-size:cover;
    -fx-background-radius: 20;
}

.image-logo-splash {
    -fx-background-image:url('../images/icon/logofac.gif');
    -fx-background-size:cover;
    -fx-background-radius: 20;
}

.sidebar{
    -fx-background-color:white;
    -fx-background-radius:10;
    -fx-border-size:2;
    -fx-border-color:rgb(166,154,154,43);
    -fx-border-radius:10;
}

//icon

.icon-user{
    -fx-background-image:url('../images/icon/profile.png');
    -fx-background-size:cover;
}

.icon-lock{
    -fx-background-image:url('../images/icon/lock.png');
    -fx-background-color:transparent;
    -fx-background-size:cover;
}

.icon-check{
    -fx-background-image:url('../images/icon/check.gif');
    -fx-background-color:transparent;
    -fx-background-size:cover;
}

.icon-verify-pass{
    -fx-background-image:url('../images/icon/verifypass.png');
    -fx-background-color:transparent;
    -fx-background-size:cover;
}

.icon-mail{
    -fx-background-image:url('../images/icon/Email.png');
    -fx-background-color:transparent;
    -fx-background-size:cover;
}

.icon-notif{
    -fx-background-image:url('../images/icon/notification.png');
    -fx-background-color:transparent;
    -fx-background-size:cover;
}

.icon-search{
    -fx-background-image:url('../images/icon/search.png');
    -fx-background-color:transparent;
    -fx-background-size:cover;
}

.icon-dash{
    -fx-background-image:url('../images/icon/dash2.png');
    -fx-background-color:transparent;
    -fx-background-size:cover;
}

.icon-listeEt{
    -fx-background-image:url('../images/icon/listEtud1.png');
    -fx-background-color:transparent;
    -fx-background-size:cover;
}

.icon-param{
    -fx-background-image:url('../images/icon/param1.png');
    -fx-background-color:transparent;
    -fx-background-size:cover;
}

.icon-logout{
    -fx-background-image:url('../images/icon/logout.png');
    -fx-background-color:transparent;
    -fx-background-size:cover;
}

.icon-ToutEtudiant{
    -fx-background-image:url('../images/icon/allEtud.png');
    -fx-background-color:transparent;
    -fx-background-size:cover;
}

.icon-ToutMention{
    -fx-background-image:url('../images/icon/mention.png');
    -fx-background-color:transparent;
    -fx-background-size:cover;
}

.icon-ToutParcours{
    -fx-background-image:url('../images/icon/parcours.png');
    -fx-background-color:transparent;
    -fx-background-size:cover;
}

.icon-ToutStaff{
    -fx-background-image:url('../images/icon/staff.png');
    -fx-background-color:transparent;
    -fx-background-size:cover;
}

.icon-adduser{
    -fx-background-image:url('../images/icon/adduser.png');
    -fx-background-color:transparent;
    -fx-background-size:cover;
}

.icon-edituser{
    -fx-background-image:url('../images/icon/edit.png');
    -fx-background-color:transparent;
    -fx-background-size:cover;
}

.icon-suppuser{
    -fx-background-image:url('../images/icon/supp2.png');
    -fx-background-color:transparent;
    -fx-background-size:cover;
}

.icon-print{
    -fx-background-image:url('../images/icon/print.png');
    -fx-background-color:transparent;
    -fx-background-size:cover;
}

.icon-facial{
    -fx-background-image:url('../images/icon/faciale.gif');
    -fx-background-color:transparent;
    -fx-background-size:cover;
}

.icon-loading{
    -fx-background-image:url('../images/icon/loading.gif');
    -fx-background-color:transparent;
    -fx-background-size:cover;
}

.icon-people{
    -fx-background-image:url('../images/icon/people.gif');
    -fx-background-color:transparent;
    -fx-background-size:cover;
}

.icon-circle{
    -fx-background-image:url('../images/Circular.png');
    -fx-background-size:cover;
}

.icon-fleche{
    -fx-background-image:url('../images/icon/fleche.png');
    -fx-background-size:cover;
}

.bg_video{
    -fx-background-image:url('../images/icon/fond.gif');
    -fx-background-size:cover;
}



/////BOUTON

.btn-conn{
    -fx-background-radius:14;
    -fx-background-color:A64F62;
}

.btn-mdp-oublier{
    -fx-background-color:transparent;
}

.btn-exit{
    -fx-background-color:transparent;
    -fx-background-image:url('../images/icon/x1.png');
    -fx-background-size:cover;
}


.btn-navbar{
    -fx-background-color:transparent;
    -fx-background-radius:10;
}

.select{
    -fx-background-color:E4E4E4;
}

.btn-navbar:hover{
    -fx-background-color:E4E4E4;
}

.btn-exit:hover{
    -fx-background-color:transparent;
    -fx-background-image:url('../images/icon/x2.png');
    -fx-background-size:cover;
}



///liste etudiant

.box-header{
    -fx-background-color:D9D9D9;
    -fx-background-radius:14;
}

//btn
.btn-header{
    -fx-background-color:white;
    -fx-background-radius:10;
}

.btn-header:hover{
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 5, 0.3, 0, 0);
}

.btn-edit{
    -fx-background-color:transparent;
    -fx-background-image:url('../images/icon/edit.png');
    -fx-background-size:cover;
}

.btn-supp{
    -fx-background-color:transparent;
    -fx-background-image:url('../images/icon/supp.png');
    -fx-background-size:cover;
}

.btn-preview{
    -fx-background-color:transparent;
    -fx-background-image:url('../images/icon/preview.png');
    -fx-background-size:cover;
}

//icon

.icon-export{
    -fx-background-image:url('../images/icon/exporter1.png');
    -fx-background-color:transparent;
    -fx-background-size:cover;
}

.icon-download{
    -fx-background-image:url('../images/icon/download1.png');
    -fx-background-color:transparent;
    -fx-background-size:cover;
}

.icon-filtre{
    -fx-background-image:url('../images/icon/filtre.png');
    -fx-background-color:transparent;
    -fx-background-size:cover;
}

.icon-ajout{
    -fx-background-image:url('../images/icon/add.png');
    -fx-background-color:transparent;
    -fx-background-size:cover;
}

.icon-download:hover{
    -fx-background-image:url('../images/icon/download1.gif');
}

//

.input-combobox{
    -fx-background-color:white;
    -fx-background-radius:8;
    -fx-border-size:2;
    -fx-border-radius:8;
    -fx-border-color:EDEDED;
}

.tabview{
    -fx-background-radius:0 0 10 10;
}

//FORMULAIRE

.btn-container{
    -fx-background-color:white;
    -fx-background-radius:10 10 0 0;
    -fx-border-radius:10 10 0 0;
    -fx-border-size:2;
    -fx-border-color:A89C9C A89C9C white A89C9C;
}

.btn-action{
    -fx-background-color:white;
    -fx-background-radius:6;
    -fx-transition: all 1s ease-in-out;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 2, 0, 0, 2);
 }

.btn-action:hover {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.35), 3, 0, 0, 2);
}

.icon-photo{
    -fx-background-image:url('../images/icon/image.png');
    -fx-background-color:transparent;
    -fx-background-size:cover;
}

.icon-dossier{
    -fx-background-image:url('../images/icon/dossier.png');
    -fx-background-color:transparent;
    -fx-background-size:cover;
}

.icon-gomme{
    -fx-background-image:url('../images/icon/gomme.png');
    -fx-background-color:transparent;
    -fx-background-size:cover;
}

.icon-enregistrer{
    -fx-background-image:url('../images/icon/enregistrer.png');
    -fx-background-color:transparent;
    -fx-background-size:cover;
}

.icon-avertissement{
    -fx-background-image:url('../images/icon/avertissement.png');
    -fx-background-color:transparent;
    -fx-background-size:cover;
}

.icon-viewlist{
    -fx-background-image:url('../images/icon/viewList.png');
    -fx-background-color:transparent;
    -fx-background-size:cover;
}

.inputform{
    -fx-background-color:white;
    -fx-background-radius:6;
    -fx-border-radius:6;
    -fx-border-size:1;
    -fx-border-color:B8B8B8;
}